<!doctype html>
<html lang='en'>
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <title>Facts Lab</title>
        
        <style>
            @import url('https://fonts.googleapis.com/css?family=Poppins:500,700,800');

            h1, h2, h3, h4, h5, h6, p, a 
            {
                 font-family: 'Poppins', sans-serif;
                 color: white;
            }
            html, body 
            {
                height: 100%;
            }
    
            .navbar-default 
            {
                background: none;
      	        border: none;
      	        justify-content: center;
                float: none;
                font-size: 24px;
                
            }
            .header-site
            {
                background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.squarespace-cdn.com/content/56674fd5e0327c45f99cf7dd/1561055239241-SW2HOT2OX9FW1COF1MRO/vector+header.jpg?content-type=image%2Fjpeg");
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                position: relative;
            }
            .nav-color
            {
                color: white;
            }
            .navbar-item
            {
                padding-left:30px;
                padding-right:30px;
            }
            .navbar-nav .nav-link:focus, .navbar-nav .nav-link:hover {
                color: #bfaab4 !important;
            }
            .container-ehad h2{
              font-size: 2.25em;
              margin-top: 0;
              margin-bottom: 0.5em;
              color: white;
              font-family: 'Poppins';
            }
            .hero-inner{
              padding: 2%;
            }
            .hero-inner h2 span.typed-text {
              font-weight: normal;
              color: #bfaab4;
              font-family: 'Poppins';
            }
            .hero-inner h2 span.cursor {
              display: inline-block;
              background-color: #ccc;
              margin-left: 0.1rem;
              width: 3px;
              animation: blink 1s infinite;
            }
            .hero-inner h2 span.cursor.typing {
              animation: none;
            }
            .container-content{
                padding-top: 5%;
                text-align: center;
                justify-content: center;
            }
            .container-content h1, h2, h3, h4, h5, h6, p, a {
                font-family: 'Poppins', sans-serif;
                color:black;
            }
          
        </style>
        
    </head>
    <header>
        <div class = "header-site">
        <nav class="navbar navbar-expand-lg navbar-default">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
                <div class="navbar-nav">
                    <a class="nav-item nav-link nav-color mr-4" href="/">HOME</a>
                    <a class="nav-item nav-link nav-color mr-4" href="/facts/1">FACTS ONE</a>
                    <a class="nav-item nav-link nav-color mr-4" href="/facts/2">FACTS TWO</a>
                </div>
        </nav>
    
    
        <div class="container-ehad" style="height:200px;">
            <div class="row mt-2 pt-5">
                <div class="col text-center">
                    <div class="hero-inner">
                        <h1>alexis's facts lab.</h1>
                </div>
            </div>
        </div>
        </div>
    </header>
    
<main>
    
    <div class="container-content">
        <div class="btn-group" role="group" aria-label="Basic example">
          <a href = "?num_facts=1" type="button" class="btn btn-secondary">One Fact</a>
          <a href = "?num_facts=2" type="button" class="btn btn-secondary">Two Facts</a>
          <a href = "?json=true" type="button" class="btn btn-secondary">JSON'd</a>
        </div>
        
        <h1>{{fact}}</h1>
    </div>
    
    <script>

    </script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</main>
</html>